<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Nouveau TP sur {{ title }}
  </h1>
  <img width="300" alt="ISEN Logo" src="assets/isen.jpg">
</div>
<app-tpbody></app-tpbody>
<div id="container">
  <div id="left"><app-col-left></app-col-left></div>
  <div id="right"><app-col-right [maPropImport]="passVar"></app-col-right></div>
</div>
<br>
<app-home></app-home>
<app-recup></app-recup>
<app-form></app-form>
<a routerLink="/">Home</a>
<a routerLink="/recup">Recup</a>
<a routerLink="/recup1/test">Recup1</a>
<a routerLink="/form">Form</a>
<a routerLink="/api">API</a>
<router-outlet></router-outlet>
